params {

sample = "$projectDir/breaks/*.breakends.bed"
asisi_file = "$projectDir/breaks/chr21_AsiSI_sites.t2t.bed"
header = "sample\traw_counts\tintercept_counts\traw_div_1000\tnormalised_counts\tnormalised_count_rounded"

time = java.time.LocalDateTime.now().plusHours(1).format(java.time.format.DateTimeFormatter.ofPattern("yyyy-MM-dd-HH:mm:ss"))
resultsDir = "results_${time}"

}
